.font-13 {
    font-size: 13px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-11 {
    font-size: 11px !important;
}


@font-face {
    font-family: "3dslight";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/3dslight.eot");
    src: url("../public/fonts/3dslight.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("../public/fonts/3dslight.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("../public/fonts/3dslight.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../public/fonts/3dslight.ttf") format("truetype");
}

@font-face {
    font-family: "3dsregular";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/3dsregular.eot");
    src: url("../public/fonts/3dsregular.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("../public/fonts/3dsregular.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("../public/fonts/3dsregular.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../public/fonts/3dsregular.ttf") format("truetype");
}


@font-face {
    font-family: "3dsbold";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/3dsbold.eot");
    src: url("../public/fonts/3dsbold.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("../public/fonts/3dsbold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("../public/fonts/3dsbold.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../public/fonts/3dsbold.ttf") format("truetype");
}

* {
    font-family: sans-serif !important;
    font-size: 14px;
    line-height: 1.42857;
    /* color: #3d3d3d; */
    /* background-color: red; */
    /* sans-serif */
}